h1{
    color: rgb(255, 255, 177);
    text-align: center;
    font-family: 'Titan One', cursive;
    text-shadow: 2px 2px 4px #000000;
}
body{
    background-image: url(background.png);
}
div.container{
    height:100%;
    width: 100%;
}
#clockline{
    margin-top: 5%;
}
#digital_clock {
    font-size: 5rem;
    width: 100%;
    color: greenyellow;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(1,252,1);
    height: 240px;
    margin-top:20%;
    font-family: 'Orbitron', sans-serif;
    padding-top: 4rem; 
    border-top: 7px ridge rgba(255, 255, 255); 
    border-left: 7px ridge rgba(255, 255, 255) ; 
    border-right: 7px ridge rgba(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background: linear-gradient(90deg,#000000 0%, rgb(25, 25, 26) 25%, #242424 50%,rgb(25, 25, 26) 75%, #000000 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#day{
    font-size: 20px;
    width: 100%;
    color: greenyellow;
    text-align: center;
    margin-left:12px;
    font-family: 'Orbitron', sans-serif;
    border-left: 7px ridge rgba(255, 255, 255); 
    border-bottom: 7px ridge rgba(255, 255, 255);
    padding-bottom: 5%;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(90deg,#000000 0%, rgb(25, 25, 26) 50%, #242424 100%);
    border-bottom-left-radius: 10px; 
}
#date{
    font-size: 20px;
    width: 100%;
    color: greenyellow;
    text-align: center;
    margin-right: 12px;
    font-family: 'Orbitron', sans-serif; 
    border-right: 7px ridge rgba(255, 255, 255);
    border-bottom: 7px ridge rgba(255, 255, 255);
    padding-bottom: 5%;
    background-color: rgb(0, 0, 3);
    background: linear-gradient(90deg,#242424 0%,rgb(25, 25, 26) 50%, #000000 100%);
    border-bottom-right-radius: 10px;
}
#analog_clock {
	position: relative;
	height: 480px;
	/*to make the height and width responsive*/
	width: 480px;
    border-radius: 100%;
	background: url(clock\ body.jpg) no-repeat;
	/*setting our background image*/
	background-size: 101%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(61, 59, 83), 0 6px 20px 0 rgb(168, 168, 168);
}
#hrHand,
#minHand,
#secHand {
	background-color: white;
	border-radius: 10px;
	transform-origin: bottom;
    position: absolute;
}
#hrHand {
    width: 2.4%;
    height: 25%;
    top: 25%;
    left: 49.6%;
    opacity: 1;
}
  
#minHand {
    width: 1.6%;
    height: 35%;
    top: 14%;
    left: 49.68%;
    opacity:1;
}
  
#secHand {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.75%;
    opacity: 1;
}


